@font-face {
	font-family: myHelveticaLight;
	src: local("Helvetica Neue Light"),local("HelveticaNeue-Light");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: local("Open Sans Italic"),local("OpenSans-Italic"),url("https://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"),local("OpenSans-Bold"),url("https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"),local("OpenSans-Semibold"),url("https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"),local("OpenSans"),url("https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"),local("OpenSans-Light"),url("https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Light Italic"),local("OpenSansLight-Italic"),url("https://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 800;
	src: local("Open Sans Extrabold"),local("OpenSans-Extrabold"),url("https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}

* {
	margin: 0;
}

html {
	-webkit-font-smoothing: antialiased !important;
	height: 100%;
}

	html a {
		-webkit-font-smoothing: antialiased !important;
	}

/* Enmarque */
/* font-family: "helvetica neue","open sans",helvetica,arial,sans-serif; */
body, td.tda {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: helvetica,arial,sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: justify;
	color: #333333;
	line-height: 1.6em;
	background-color: #ffffff;
	height: 100%;
}

.dTitle {
	font-size: 2.5em;
	font-weight: 400;
	color: #666666 !important;
	padding: 36px 4px 16px 0;
	text-align: center;
	line-height: 1.2em;
	clear: left;
	font-family: "helvetica neue","open sans",helvetica,arial,sans-serif;
}

.dText {
}
.btn {
	padding: 0;
	overflow: hidden;
	border-width: 0;
	width: 80px;
	font-size: 13px;
	cursor: pointer;
	height: 30px;
	outline: none;
	border-radius: 2px;
	background-color: #4a89dc;
	color: #ecf0f1;
	transition: background-color .3s;
}

input[type=text], input[type=password] {
	font-size: 14px;
	padding: 3px;
}

.btn:hover, .btn:focus {
		background-color: #3070c3;
	}

	.btn > * {
		position: relative;
	}

	.btn span {
		display: block;
		padding: 12px 24px;
	}

	.btn:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 0;
		padding-top: 0;
		border-radius: 100%;
		background-color: rgba(236, 240, 241, .3);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.btn:active:before {
		width: 120%;
		padding-top: 120%;
		transition: width .2s ease-out, padding-top .2s ease-out;
	}


.dMenuItemContainer {
	background-color: #e9e9e9;
	padding: 4px 8px 4px 8px;
	margin-top: 4px;
}
.dBlockSize1 {
	margin-top: 9px;
	width: 150px;
	float: left;
}

.dBlockSize2 {
	margin-top: 9px;
	width: 200px;
	float: left;
}

.dBlockSize25 {
	margin-top: 9px;
	width: 275px;
	float: left;
}

.dBlockSize3 {
	margin-top: 9px;
	float: left;
}
.dMenuItemStart {
	background-color: #e9e9e9;
	padding: 4px 0 4px 0;
	border-right: 1px solid #d0d0d0;
	width: 6px;
	margin-top: 4px;
	float: left;
}

.dMenuItem {
	font-family: "helvetica neue","open sans",helvetica,arial,sans-serif;
	margin-top: 4px;
	float: left;
	background-color: #f0f0f0;
	border-right: 1px solid #c0c0c0;
	padding: 4px 8px 4px 8px;
	font-size: 15px;
	font-weight: 200;
	cursor: hand;
	cursor: pointer;
}

.dMenuItemSelected {
	margin-top: 3px;
	float: left;
	background-color: white;
	border-right: 1px solid #c0c0c0;
	border-top: 1px solid #f0f0f0;
	font-size: 15px;
	font-weight: 200;
	padding: 4px 8px 5px 8px;
	cursor: hand;
	cursor: pointer;
	font-family: "helvetica neue","open sans",helvetica,arial,sans-serif;
	font-family: "helvetica neue","open sans",helvetica,arial,sans-serif;
}

.dSubMenuItem2NoFirst {
	border-left: 1px dotted #c0c0c0;
	padding-left: 8px;
}

.dSubMenuItem {
	font-family: "helvetica neue","open sans",helvetica,arial,sans-serif;
	margin-top: 4px;
	float: left;
	padding: 2px 8px 2px 8px;
	font-size: 15px;
	font-weight: 200;
	border-left: 1px dotted #c0c0c0;
	cursor: hand;
	cursor: pointer;
}

.dMenuItem2 {
	font-family: "helvetica neue","open sans",helvetica,arial,sans-serif;
	margin-top: 4px;
	float: left;
	background-color: #e0e0e0;
	border-right: 1px solid #c0c0c0;
	padding: 4px 8px 4px 8px;
	font-weight: 200;
	cursor: hand;
	cursor: pointer;
}

.dMenuItemSelected2 {
	font-family: "helvetica neue","open sans",helvetica,arial,sans-serif;
	margin-top: 3px;
	float: left;
	background-color: white;
	border-right: 1px solid #c0c0c0;
	border-top: 1px solid #f0f0f0;
	font-weight: 200;
	padding: 4px 8px 5px 8px;
	cursor: hand;
	cursor: pointer;
}

.dMenuItem3 {
	font-family: "helvetica neue","open sans",helvetica,arial,sans-serif;
	margin-top: 4px;
	float: left;
	background-color: #d0d0d0;
	border-right: 1px solid #c0c0c0;
	font-weight: 200;
	padding: 4px 8px 4px 8px;
	cursor: hand;
	cursor: pointer;
}

.dMenuItemSelected3 {
	font-family: "helvetica neue","open sans",helvetica,arial,sans-serif;
	margin-top: 3px;
	float: left;
	background-color: white;
	border-right: 1px solid #c0c0c0;
	border-top: 1px solid #f0f0f0;
	font-weight: 200;
	padding: 4px 8px 5px 8px;
	cursor: hand;
	cursor: pointer;
}

.dBlackLink {
	color: #666666;
}

	.dBlackLink:hover {
		color: #666666;
	}

	.dBlackLink:visited {
		color: #666666;
	}

.dBlackLinkNoUnderline {
	color: #333333;
	text-decoration: none;
}

	.dBlackLinkNoUnderline:hover {
		color: #333333;
		text-decoration: none;
	}

	.dBlackLinkNoUnderline:active {
		color: #333333;
		text-decoration: none;
	}

	.dBlackLinkNoUnderline:visited {
		color: #333333;
		text-decoration: none;
	}

.dBlackLinkNoUnderlineSelected {
	color: #FE6D4C;
}

	.dBlackLinkNoUnderlineSelected:hover {
		color: #FE6D4C;
		text-decoration: none;
	}

	.dBlackLinkNoUnderlineSelected:visited {
		color: #FE6D4C;
	}

.dCellStartRowS1 {
	margin-top: 2px; margin-bottom: 2px;
	text-align: left;
	padding-left: 4px;
	border-bottom: 1px solid #e0e0e0;
	float: left;
	clear: left;
	width: 160px;
}
.dCellStartRowS2 {
	margin-top: 2px; margin-bottom: 2px;
	float: left;
	padding-left: 4px;
	border-bottom: 1px solid #e0e0e0;
	clear: left;
	text-align: left;
	width: 250px;
}
.dCellStartRowS3 {
	margin-top: 2px;
	margin-bottom: 2px;
	float: left;
	padding-left: 4px;
	border-bottom: 1px solid #e0e0e0;
	clear: left;
	text-align: left;
	width: 450px;
}

.dBlockNewLineS1 {
	margin-top: 9px;
	margin-bottom: 9px;
	padding-top: 2px;
	text-align: left;
	float: left;
	clear: left;
	width: 160px;
}

.dBlockNewLineS2 {
	margin-top: 9px;
	padding-top: 2px;
	float: left;
	clear: left;
	text-align: left;
	width: 250px;
}


.dBlockNewLineS25 {
	margin-top: 9px;
	float: left;
	clear: left;
	text-align: left;
	width: 450px;
}

.dBlockNewLineS3 {
	margin-top: 9px;
	padding-top: 3px;
	text-align: left;
	clear: left;
}

.dEdit {
	float: right;
	margin-top: 2px; margin-bottom: 2px;
	padding: 0 0 0 4px;
}
.dSeparatorNewLine {
	color: #FE6D4C !important;
	font-family: "roboto","lato","helvetica neue",helvetica,arial,sans-serif;
	font-weight: 300;
	font-size: 23px;
	padding: 24px 0 16px 0;
	margin: 0 0 0 0;
	letter-spacing: -0.05em;
	clear: both;
	line-height: 1.1em;
}

.dCssTable {
	border-collapse: collapse;
	border-spacing: 0;
}

.dTableCellLeft {
	width: 100px;
	text-align: left;
	font-size: 12px;
}

.dTableCellLeft2 {
	width: 150px;
	font-size: 12px;
	text-align: left;
}

.dTableCellLeft3 {
	width: 250px;
	font-size: 12px;
	text-align: left;
}

.dTableCellLeft5 {
	width: 600px;
	font-size: 12px;
	text-align: left;
}

.dTableCell2 {
	width: 100px;
	text-align: center;
	font-size: 12px;
}

.dTableCell {
	text-align: center;
	font-size: 12px;
}

.dTableCell3 {
	width: 200px;
	text-align: center;
	font-size: 12px;
}

.dTableCell4 {
	width: 400px;
	text-align: center;
	font-size: 12px;
}

.dTableCell1 {
	width: 75px;
	text-align: center;
	font-size: 12px;
}

.dTableCell0 {
	width: 50px;
	text-align: center;
	font-size: 12px;
}

.dCellSize05 {
	margin-top: 2px;
	margin-bottom: 2px;
	border-bottom: 1px solid #e0e0e0;
	min-height: 1.55em;
	width: 95px;
	float: left;
	text-align: center;
}

.dCellSize1 {
	margin-top: 2px; margin-bottom: 2px;
	 min-height: 1.55em;
	width: 100px;
	float: left;
	text-align: center;
}

.dCellSize2 {
	margin-top: 2px; margin-bottom: 2px;
	width: 150px;
	min-height: 1.55em;
	float: left;
	text-align: left;
}
.Center {
	text-align: center;
}

.dCellSize2b {
	margin-top: 2px;
	margin-bottom: 2px;
	width: 250px;
	min-height: 1.55em;
	float: left;
	padding-right: 8px;
	word-wrap: break-word;
}
.dCellSize1 {
	margin-top: 2px;
	margin-bottom: 2px;
	width: 150px;
	float: left;
	min-height: 1.55em;
}
.dCellsRow {
	border-bottom: 1px solid #e0e0e0;
}
.dCellSize3 {
	margin-top: 2px; margin-bottom: 2px;
	 min-height: 1.55em;
	text-align: left;
	float: left;
	word-wrap: break-word;
}

.dTableRowAlt:nth-child(odd) {
	background-color: #f0f0f0;
}

td.tFontHeader4 {
	background-color: #d0d0d0;
	font-weight: bold;
	margin: 0 2 0 2;
	font-size: 11px;
}

td.tFont4 {
	margin: 0 2 0 2;
	font-size: 11px;
}
td.tFontRowHeader {
	font-style: italic;
	margin: 0 2 0 2;
	font-size: 11px;
}

td {
	font-size: 14px;
}

/* Contenido */
p {
	margin-bottom: 0.5em;
}

a {
	text-decoration: none;
	color: #0077b5;
}

	a:hover {
		text-decoration: underline;
		color: #0077b5;
	}

	a:visited {
		text-decoration: none;
		color: #0077b5;
	}

	a[name]:before {
		content: "";
		display: block;
		height: 58px;
		margin: -58px 0 0;
	}


.dMediumButtonTab {
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: hand;
	cursor: pointer;
	background-color: #0099da;
	border: 0 solid #000000;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	min-width: 46px;
	text-align: center;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	padding: 4px 10px 4px 10px;
	line-height: 36px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-transition: all 0.218s;
	-moz-transition: all 0.218s;
}

.dSeparator {
	color: #FE6D4C !important;
	font-size: 26px;
	font-family: "roboto","lato","helvetica neue",helvetica,arial,sans-serif;
	font-weight: 300;
	border-bottom: 1px solid #c0c0c0;
	padding: 18px 0 10px 0;
	margin: 0 0 8px 0;
	clear: both;
	line-height: 1.4em;
	letter-spacing: -0.05em;
}

.dSeparatorSmaller {
	color: #FE6D4C !important;
	font-size: 23px;
	font-family: "roboto","lato","helvetica neue",helvetica,arial,sans-serif;
	font-weight: 300;
	padding: 15px 0 0 0;
	clear: both;
	margin: 0 0 8px 0;
	line-height: 1.4em;
	letter-spacing: -0.05em;
}
.dSeparatorSmallest {
	font-size: 18px;
	font-family: "roboto","lato","helvetica neue",helvetica,arial,sans-serif;
	font-weight: 300;
	padding: 15px 0 0 0;
	clear: both;
	margin: 0 0 8px 0;
	line-height: 1.4em;
	letter-spacing: -0.05em;
}
.dTableHeader
{
	background-color: #F0F0F0;
}
.contenedor {
	background-color: White;
	margin-left: auto;
	margin-right: auto;
	min-height: 150px;
	max-width: 1002px;
	padding-right: 0;
	padding-left: 0;
}
.contenedorSmall {
	background-color: White;
	margin-left: auto;
	margin-right: auto;
	min-height: 150px;
	max-width: 650px;
	padding-right: 0;
	padding-left: 0;
}

.contenedorAdmin {
	background-color: White;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
	padding-left: 10px;
}
	.dMediumButtonTab:hover {
		color: #fff;
		text-shadow: 0 1px rgba(0,0,0,0.3);
		background-color: #357ae8;
		background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
		background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
		background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
		background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	}

input.dMediumButtonTab[type=button] {
	font-family: "helvetica neue","open sans",helvetica,arial,sans-serif;
	font-size: 14px;
	width: 130px;
	padding: 0px 20px 0px 20px;
	font-weight: 400;
	margin-right: 10px;
	margin-bottom: 30px;
}

.dWelcomeMarg {
	margin-left: 0;
}


.mapBlock {
	float: left;
	width: 29%;
	min-width: 280px;
	padding: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14.5px;
	line-height: 1.6;
	font-weight: 300;
	text-align: left;
	color: #333333;
	background-color: white;
}

.mapHead {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
}
.dInfoMapsTitle {
	margin-top: 20px;
	margin-bottom: 16px;
	font-size: 27px;
	font-weight: 500;
}
ul {
	margin-bottom: 12px;
}
.dInfoMapsSubTitle {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 21px;

}

.tRightBorder {
	border-right: 1px solid #b0b0b0;
}
.dCategory {
	padding: 12 0 6 0;
	font-weight: 600;
	clear: both;
	font-size: 16px;
	text-align: left;
	font-family: "roboto","lato","helvetica neue",helvetica,arial,sans-serif;
}

.dCategory a {
	font-weight: normal;
}

.dSubCategory {
	padding: 16 0 0 0;
	font-weight: 600;
	clear: both;
	color: #666;
	font-size: 14px;
	text-align: left;
	font-family: "roboto","lato","helvetica neue",helvetica,arial,sans-serif;
}


input.dLightButton[type=button] {
	border: 2px solid #0099da;
	color: #0099da;
	background-color: white;
	font-family: "helvetica neue","open sans",helvetica,arial,sans-serif;
	font-size: 13px;
	border-radius: 4px;
	padding: 3px 10px 3px 10px;
	min-width: 65px;
	text-align: center;
	cursor: pointer
}


.dExplanation {
	text-align: left;
	color: #963434;
	font-size: 12px;
	line-height: 1.4em;
	max-width: 600px;
	padding-left: 0;
}


.mapBody {
	min-height: 180px;
	position: relative
}
.dButtonDiv { padding: 4px; border: 1px solid #666; cursor: pointer;

}
.mapButton {
	text-align: center;
}
.dLargeTextArea {
	width: 500px;
	height: 200px;
}
.dTextArea { width: 500px; height: 130px;
}
.dLargeTextEdit {
	width: 500px;
}
.dMediumTextEdit {
	width: 350px;
}

.dTextEdit {
	width: 80px;
}

.mapBottom {
	position: absolute;
	bottom: 0px;
}

.mapTopBar {
	text-align: center;
	height: 1em;
	font-family: "helvetica neue","open sans",helvetica,arial,sans-serif;
	font-size: 40px;
	color: #555;
	margin-top: 20px;
	padding-top: 16px
}
.dFooter {
	padding-top: 4px;
	font-size: 8pt;
	text-align: center;
	color: #999999;
	background-color: #eeeeee;
	margin-left: auto;
	margin-right: auto;
}
