{% extends "frontendLayout.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block content %}

{{ macros.InfoMapsTitle("Preguntas frecuentes") }}

	<div class="dSeparatorSmaller">¿Qué información puedo consultar en el mapa?</div>
	<p>

	</p>
	<div class="dSeparatorSmaller">¿Quiénes pueden subir información al sitio?</div>
	<p>

	</p>
	<div class="dSeparatorSmaller">¿Que información preciso para crear un mapa?</div>
	<p>
		Existen cuatro tipos de datasets utilizables para subir información para crear mapas:
		&bull; Provincias, departamentos y radios del censo de Argentina de 2010.<br>
			&bull; Provincias, departamentos y radios del censo de Argentina de 2010.<br>
				&bull; Provincias, departamentos y radios del censo de Argentina de 2001.<br>
					&bull; Provincias, departamentos y radios del censo de Argentina de 1990.<br>
				En todos los casos la informaci'on debe proveerse en archivos en formato SPSS (.sav). Para los
				datasets con pol'igonos pueden indicarse en una columna geoJson del mismo archivo, o proveer las
				formas en formato Shapefile (.shp).
				</p>
	<div class="dSeparatorSmaller">¿De que mapas dispone el sitio para poder Georeferenciar información?</div>
	<p>

	</p>
	<p>
		&bull; Provincias, departamentos y radios del censo de Argentina de 2010.<br>
			&bull; Provincias, departamentos y radios del censo de Argentina de 2001.<br>
				&bull; Provincias, departamentos y radios del censo de Argentina de 1990.<br>
				</p>

	<div class="dSeparatorSmaller">¿Qué criterios debe cumplir un mapa para ser aceptado en el respositorio de Mapas de Acta Académica?</div>
	<p>

	</p>
	&bull; Provincias, departamentos y radios del censo de Argentina de 2010.<br>
		&bull; Provincias, departamentos y radios del censo de Argentina de 2001.<br>
			&bull; Provincias, departamentos y radios del censo de Argentina de 1990.<br>

{% endblock %}
