{% extends "frontendLayout.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block content %}

	<div class="mapBlock">
		<div class="mapHead">
			<a href="public"  class="dBlackLinkNoUnderline">
			<img src="/static/img/chart.png" style="width: 115px" /><br />
				Datos públicos
			</a>
		</div>
		<div class="mapBody">
			Preservar, estandarizar y hacer accesible información producida o recolectada por organismos estatales, tales que censos nacionales, relevamientos de infraestructura, resultados electorales, estadísticas vitales u otras fuentes administrativas pasibles de ser Georeferenciadas y puestas a disposición.
		</div>
		<div class="mapButton">
			<input type='button' style="background-color: grey" name='event' value='Ver más' class='dMediumButtonTab'  onclick="document.location='public';">
		</div>
	</div>

	<div class="mapBlock">
		<div class="mapHead">
			<a href="research"  class="dBlackLinkNoUnderline">
			<img src="/static/img/research.png" style="width: 115px" /><br />
			Investigación
			</a>
		</div>
		<div class="mapBody">
			Ayudar a tratar, harmonizar y difundir resultados de investigación social de naturaleza espacial, incluyendo procesamientos de datos censales, caracterizaciones de zonas socioculturales del país, identificación de factores de riesgo y vulnerabilidad Georeferenciados, así como productos de investigación etnográfica ligados a la territorialidad.

		</div>
		<div class="mapButton">
						<input type='button' style="background-color: grey" name='event' value='Ver más' class='dMediumButtonTab'  onclick="document.location='research';">
		</div>
	</div>

	<div class="mapBlock">
		<div class="mapHead">
			<a href="community" class="dBlackLinkNoUnderline">
			<img src="/static/img/community.png" style="width: 115px" /><br />
				Mapeos comunitarios
			</a>
		</div>
		<div class="mapBody">
			Servir en la construcción, desarrollo y visualización de iniciativas, propuestas y controversias que se desplieguen en el espacio permitiendo la participación de actores locales y organizaciones interesadas en la caracterización colectiva de sus  realidades, intereses y problemáticas.
		</div>
		<div class="mapButton">
				<input type='button' style="background-color: grey" name='event' value='Ver más' class='dMediumButtonTab'  onclick="document.location='community';">
		</div>
	</div>

<div style="height:1px; clear:both">&nbsp;</div>


{% endblock %}
