{% import "macros.html.twig" as macros %}
<style>
td.dLogoText
{
	padding-left: 4px;
	color: #4c4e80;
	font-size: 14px
}
td.dLogoTextSmaller
{
	padding-left: 3px;
	color: #4c4e80;
	font-size: 12px
}
</style>
<div style='margin-top: 90px; margin-bottom: 30px'>
	<table width='100%'>
        <tr>
			<td width='1%'>&nbsp;</td>
			<td width='15%' class='dLogoText'></td>
			<td width='5%'>&nbsp;</td>
			<td width='20%' align='center' valign='center' >{{ macros.putLogo(logos_url, '64', '62', 'Pontificia Universidad Católica Argentina', 'http://uca.edu.ar/', 'UCA') }}</td>

			<td width='20%' align='center' valign='center'>{{ macros.putLogo(logos_url, '64', '55', 'Repositorio Acta Académica', 'https://aacademica.org') }}</td>
			<!--td width='20%' align='center' valign='center'>{{ macros.putLogo(logos_url, '64', '55', 'Instituto de Investigación en Ciencias Sociales', 'http://idicso.usal.edu.ar', 'IDICSO') }}</td-->
			<td width='15%'>&nbsp;</td>
		</tr>
    </table>
    <table width='100%'>
		<tr>
			<td width='40%'>&nbsp;</td>
			<td width='25%' align='center' valign='center' >{{ macros.putLogo(logos_url, '64', '55', 'Observatorio de la Deuda Social Argentina', 'http://uca.edu.ar/odsa', 'ODSA') }}</td>
			<td width='40%'>&nbsp;</td>
		</tr>
	</table>
</div>
<div style="height: 40px"></div>