{% extends "frontendLayout.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block content %}

<script type="text/javascript">

	function validateForm() {
	if (!checkTextHasValue('from', 'una dirección de correo electrónico')) return false;
	if (!checkTextHasValue('message', 'un mensaje')) return false;
	return true;
	}
</script>

	{{ macros.InfoMapsTitle("Investigación") }}
	<p><i>{{ application_name }}</i> se orienta a brindar a investigadores individuales, instituciones o grupos de investigación,
    un espacio donde dar a conocer y preservar sus resultados Georeferenciados o Georeferenciables de investigación.</o>.
    <p>En esta línea, la Ley de Repositorios Institucionales 26899/13 ha establecido para el país la necesidad de hacer accesibles los
    productos de investigaciones realizadas con fondos públicos. A pesar de ello, numerosos tipos de datos -como los datos geoespaciales- pueden presentar
    desafíos técnicos y de infraestructura para su puesta en circulación.
	</p>
    <p>Para facilitar la consulta integrada de resultados de investigación con otros datos poblacionales del país, así como
        para mejorar el impacto de estas investigaciones y su reusabilidad <i>{{ application_name }}</i> proporciona:
    <ul>
    <li>Espacio gratuito de alojamiento de datos resultado de investigación para la República Argentina.</li>
    <li>Herramientas automatizadas de Georeferenciamientos de zonas, unidades administrativas o ubicaciones.</li>
    <li>Exhibición individual para la obra de cada autor.</li>
    <li>Mayor visibilidad, gracias a la integración en el mapa general de información poblacional.</li>
    <li>Herramientas de segmentación, agregación y descarga de los datos puestos a disposición.</li>
    <li>Extracción de imágenes de los mapas visualizados.</li>
    </ul>
    <p>
    Si usted es investigador y desea obtener un usuario para incorporar información al sitio puede contactarnos por <a href='mailto:contacto@poblaciones.org' class='dSoftLink'>correo electrónico</a> o a través de la página de <a href='{{ maps_feedback_url }}'>contacto</a>.
    </p>


{% endblock %}
