/*.bat
/*.txt
/Properties
/bin
/compilation_cache
/compile.*
/config/settings.php
/doctrine_proxies
/obj
/serializer_cache
/src/storage
/src/tests/config/customSettings.php
/storage
/var
/vendor
/web.config
/web/phpMyAdmin
/web/test*.php
/web/web.config
web.*.config
