/bin
/Properties
/config/settings.php
/compilation_cache
/doctrine_proxies
/obj
/serializer_cache
/storage
/src/storage
/var
/vendor
/web/phpMyAdmin
/web.config
/web/web.config
/web/test*.php
/compile.*
/*.bat
/*.txt