includes:
	- src/framework/phpstan.neon

parameters:
	reportUnmatchedIgnoredErrors:
		false
	excludes_analyse:
		- vendor
		- routes
		- compilation_cache
		- doctrine_proxies
		- web/phpinfo2.php
		- web/index.php
		- web/b.php
		- tests/routesTest.php
	autoload_files:
		- vendor/autoload.php
	ignoreErrors:
		- '#Function vd not found.#'
		- '#Function pr not found.#'
		- '#Function ec not found.#'
		- '#on an unknown class simple_html_dom#'
		- '#simple_html_dom not found#'
		- '#Parameter .* has invalid typehint type helena\\entities\\backoffice\\geometry.#'
		- '#Parameter .* has invalid typehint type helena\\entities\\backoffice\\point.#'
		- '#Property .* has unknown class helena\\entities\\backoffice\\geometry as its type.#'
		- '#Property .* has unknown class helena\\entities\\backoffice\\point as its type.#'
		- '#Return typehint of method .* has invalid type helena\\entities\\backoffice\\geometry.#'
		- '#Return typehint of method .* has invalid type helena\\entities\\backoffice\\point.#'
		- '#Function time_elapsed not found.#'
		- '#Function outwrite not found.#'
