{% extends "layout.html.twig" %}

{% block content %}

<script type="text/javascript">
function validateForm() {
	var x = document.forms["register"]["username"].value;
	var atpos = x.indexOf("@");
	var dotpos = x.lastIndexOf(".");
	if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
		alert("La dirección de correo electrónico no fue indicada correctamente.");
		return false;
	}
	var pass = document.forms["register"]["password"].value;
	if (pass == '') {
		alert("La contraseña no puede ser nula.");
		return false;
	}
	if (pass.length < 6) {
		alert("La contraseña debe tener al menos 6 caracteres de longitud.");
		return false;
	}
	if (pass != document.forms["register"]["verification"].value) {
		alert("La contraseña no coincide con la verificación.");
		return false;
	}
}
</script>
<div class="dTitle">
	Recuperación de contraseña
</div>
<div class="contenedor">
	<p>
	Elija su nueva contraseña para poder volver a utilizar Poblaciones.
	<br>
	&nbsp;
	</p>
	<form action="linkLostPassword" onsubmit="return validateForm();" name='register' method='post'>
		<div class='dRegister'>
			<div class='dLoginHeader' style='text-align: center' >NUEVA CONTRASEÑA</div>
			<div class='dLoginRegisterInner'>
				<div class='dBlockNewLineS1'>Contraseña: </div><div class='dBlockSize1'><input autocomplete='off' type="password" name='password'></div>
				<div class='dBlockNewLineS1'>Verificación: </div><div class='dBlockSize1'><input autocomplete='off' type="password" name='verification'></div>
				<input type="hidden" name="to" value="{{ to }}" />
				<div class='dLine'></div>
				<div class='dBlockNewLineS3'><center><input type='submit' name='ok' value='Continuar'></center></div>
			</div>
		</div>
	</form>
	&nbsp;<br>
</div>

{% endblock %}