{% extends "layout.html.twig" %}

{% block content %}

<script type="text/javascript">
window.onload = function(){
	document.forms[0].elements[0].focus();
};
</script>
<div class="dTitle">
	Recuperar contraseña
</div>
<div class="contenedorSmall">
	<p style="margin-bottom: 2.5em;margin-top: 0.5em"">
	Para recuperar el acceso a su cuenta, indique su dirección de correo electrónico. Una nueva contraseña será enviada a su casilla para que pueda acceder a su cuenta.
	</p>
	<form action='lostPassword' method="post">
		<div class='dLogin'>
			<div class='dLoginHeader' style='text-align: center' >Recuperar contraseña</div>
			<div class='dLoginRegisterInner'>
				<div class='dBlockNewLineS1'>Correo electrónico: </div><div class='dBlockSize1'><input type="text" name='username'></div>
				<input type="hidden" name='to' value="{{ to }}" />
				<div class='dBlockNewLineS3' style="padding-top: 20px;">
				<center><input type='submit' class="btn" name='ok' value='Enviar'></center></div>
			</div>
		</div>
	</form>
	<div style="height: 200px"></div>
</div>

{% endblock %}