//@import './variables.scss';
//@import './mixin.scss';
@import './transition.scss';

body {
	min-height: unset !important;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.app-main{
  min-height: 100%
}

.app-container-no-toolbar {
	padding: 12px 20px 12px 20px;
	position: absolute;
	left: 0px;
	right: 0px;
	overflow: auto;
	border: 0px;
	top: 55px;
	height: calc(100% - 55px);
}

.app-container {
	padding: 12px 20px 12px 20px;
	position: absolute;
	left: 0px;
	right: 0px;
	overflow: auto;
	border: 0px;
	top: 107px;
	height: calc(100% - 107px);
}
.app-singlebar {
	top: 53px;
	height: calc(100% - 53px);
}
.md-field.md-theme-default:after {
  background-color: unset !important;
}

.md-layout-item{
  flex: unset !important;
}

.md-layout-item.md-size-90 {
  min-width: unset !important;
  max-width: unset !important;
  flex: unset !important;
}

.md-input.md-size-lg{
  width: 90vh;
}

.md-table-cell-container {
  display: flex !important;
}

.md-full-layout-item {
  flex: 1 1 !important;
}

.md-field.md-has-textarea:not(.md-autogrow):after,
.md-field.md-has-textarea:not(.md-autogrow):before{
  border: 0px solid transparent !important;
}

.hidden{
  display: none;
}

.md-overlay{
  z-index: 2000 !important;
}

.md-dialog{
  z-index: 2001 !important;
}

.md-remove-margins{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.md-menu-content.md-select-menu {
  z-index: 2002 !important;
}
