<?php

use helena\classes\App;
use minga\framework\Context;
use minga\framework\settings\CacheSettings;
use minga\framework\settings\MailSettings;

// enable the debug mode
App::SetDebug(true);

// **** Servidores
Context::Settings()->Servers()->RegisterServers("http://servidor.poblaciones.org", "http://poblaciones.org");

// **** Opcionales
// Context::Settings()->Map()->UseTileBlocks = false;
// Context::Settings()->Map()->UseGradients = false;


// **** Keys de terceros
Context::Settings()->Keys()->GoogleMapsKey = "GOOGLE_MAPS_KEY";

// En caso de usarse SendGrid para la salida de mails:
// Context::Settings()->Mail()->SendGridApiKey = 'SEND_GRID_API_KEY';
//
// En caso de usarse AddThis para que los usuarios vinculen contenidos en redes sociales:
// Context::Settings()->Keys()->AddThisKey = "ADD_THIS_KEY";

// **** Mail
// Posibles providers: Context::Settings()->Mail()->Provider: MailSettings::SendGrid, MailSettings::SMTP;
Context::Settings()->Mail()->From = 'no-responder@aacademica.org';
Context::Settings()->Mail()->NotifyAddressErrors = '';
Context::Settings()->Mail()->SMTPSecure = "";
Context::Settings()->Mail()->SMTPHost = "localhost";

// Base de datos MySQL
Context::Settings()->Db()->SetDatabase("SERVIDOR", "BASE_DE_DATOS", "USUARIO", "CONTRASEÑA");

// Ubicación de python
Context::Settings()->Servers()->Python3 = 'C:/Python38/python.exe';
Context::Settings()->Servers()->Python27 = 'C:/Python27/python.exe';

// Ubicación del binario de php para ejecutar en línea de comandos
Context::Settings()->Servers()->PhpCli = 'php';

